.item {
    border: outset 13px saddlebrown;
    min-width: 350px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    font-family: Sora, sens-serif;
    font-size: 17px;
    background-color: lemonchiffon;
    box-shadow: 0px 4px 6px 4px lightgrey;
    width: 50%;
    margin: 1%;
}

.btn{
    outline: none;
    background-color: lightblue;
    width: 150px;
    height: 47px;
    border-radius: 8px;
    border: outset 5px seagreen;
    cursor: pointer
}